.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color-2);

  &__title {
    font-size: 1.5rem;
  }

  &__btns {
    display: flex;
    font-weight: 700;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-left: 1rem;
    font-size: 1.125rem;
    gap: .5rem;
  }

  &__icon {
    font-size: 1.75rem;
  }
}

.menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 40rem) {
  .menu-btn {
    display: flex;
  }
}