<div class="todo">
  <div>
    <button class="todo__checkBox">complete</button>
    <div class="todo__header">
      <h4 class="todo__title">{{title}}</h4>
      <p class="todo__date">{{date}}</p>
    </div>
    <button class="todo__btn-delete">
      delete
    </button>
  </div>

  <form class="todo__form">
    <div class="todo__form__field">
      <label for="{{`${id}-input-title`}}">Title</label>
      <input type="text" id="{{`${id}-input-title`}}" class="todo__input-title" required>
    </div>

    <div class="todo__form__field">
      <label for="{{`${id}-input-description`}}">Description</label>
      <textarea id="{{`${id}-input-title`}}" class="todo__input-description">{{description}}</textarea>
    </div>

    <div class="todo__form__field">
      <label for="{{`${id}-input-date`}}">Date</label>
      <input class="todo__date-input" id="{{`${id}-input-date`}}" type="date">
    </div>

    <div class="todo__form__field">
      <label for="{{`${id}-input-priority`}}">Priority</label>
      <select class="todo__input-date" id="{{`${id}-input-priority`}}">
        <option {{#if_eq priority "low"}}selected{{/if_eq}} value="low">Low</option>
        <option {{#if_eq priority "medium"}}selected{{/if_eq}} value="medium">Medium</option>
        <option {{#if_eq priority "high"}}selected{{/if_eq}} value="high">High</option>
      </select>
    </div>
  </form>
</div>