body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  box-sizing: border-box;
  color: var(--text-primary);
  background-color: var(--primary-color);
  line-height: 1.4;
  font-family: var(--font-sans);
}

.main-wrapper {
  position: relative;
  flex-grow: 1;
}

* {
  box-sizing: inherit;
}

button {
  display: block;
  text-align: left;
}

button, input, select, textarea {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}