:root {
  --primary-color: #181820;
  --primary-color-2: #21212b;
  --primary-color-3: #272732;
  --text-primary: #fefefe;

  --secondary-color: #f06cb5;

  --font-sans: Kalam, sans-serif;
  

  --priority-high: #f44336;
  --priority-medium: #629ef3;
  --priority-low: #2bd40a;
}